
<main class="users_show_all">

  <%= render 'users/list', user: @user %>


  <div class="users_books_show">
    <h2>Boooks</h2>

  <table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Title</th>
        <th scope="col">Opinion</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <% @books.each do |book| %>
          <th scope="row"></th>
          <td><%=book.title %></td>
          <td><%=book.body %></td>
          <td></td>
        <% end %>
      </tr>
    </tbody>
  </table>
  </div>

</main>