<h1>Book detail</h1>

<%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
<%= @user.name %>

  
<%= @book.title %>

<%= @book. %>

<a class="btn btn-sm btn-success edit_book_:id" href="/books/:id/edit">Edit</a>

<a data-confirm="本当に消しますか？" class="btn btn-sm btn-danger destroy_book_:id" rel="nofollow" data-method="delete" href="/books/:id">Destroy</a>
