// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.input_newbook{
  margin-top:40px;
}

.inpot_newbook{
  display:block;
}

.input_title{
  width:250px;
}

.input_body {
  width:250px;
  hight:30px;
}

.btn{
  margin:20px 0;
}