// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.users_show_all{
  display: flex;
  justify-content: center;
}

.left_side{
  margin:20px 50px 0 0;
}

.user_show{
  width:250px;
  hight:400ox;
}

.user_show_button{
  margin:0 auto;
  width:250px;
  hight:20px;
}

.users_books_show{
  margin:20px 0 0 100px;
  width:700px;
}