// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user_show{
  width:200px;
  hight:400ox;
  margin:20px 0 0 50px
}

.user_show_button{
  width:200px;
  hight:20px;
}